<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445987609145-v67iuvd3qqjp9ibutnlhrj5msdnaasrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445987609145-v67iuvd3qqjp9ibutnlhrj5msdnaasrg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>445987609145-r0doen8u3ui4rrt71o9sips57ogeqkkt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbxJnMafcPaJnvJ6tVDYCAnAl5Qn9Uwbk</string>
	<key>GCM_SENDER_ID</key>
	<string>445987609145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samtech.gigglio</string>
	<key>PROJECT_ID</key>
	<string>gigglio</string>
	<key>STORAGE_BUCKET</key>
	<string>gigglio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445987609145:ios:5febd0ad11abe9932b8be8</string>
</dict>
</plist>